@{
	ViewBag.Title = "PaymentConfirmation";
}


<h2>Confirm payment</h2>

@using (Html.BeginForm())
{
	<legend>Customer Details</legend>

	<div class="container">

		<form class="form-horizontal">

			<div class="container">
				<div class="row">
					<br />
					<form>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa-10x"></i></span>
							<input type="text" class="form-control" id="name" placeholder="Name" name="name" required="required">
						</div>
						<br />
						<div class="input-group">
							<i class="fa fa-id-card-o" aria-hidden="true"></i>
							<span class="input-group-addon"><i class="fa fa-user-secret fa-align-justify" aria-hidden="true"></i></span>
							@*<label for="example-search-input" class="col-2 col-form-label">Personal Identity Number</label>*@
							<input type="text" class="form-control" id="personNumber" placeholder="Enter personNumber" name="personNumber" required="required">
						</div>
						<br />
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-phone fa-x"></i></span>
							<input type="text" class="form-control" id="phoneNumber" placeholder="Enter phoneNumber" name="phoneNumber" required="required">
						</div>
						<br />
						
						<div class="input-group">
							<label for="example-search-input" class="col-2 col-form-label">Total Amount To Pay</label>
							<div class="col-10">
								<p class="form-control-static"><i class="fa fa-credit-card"></i>@ViewBag.amount</p>
								<input type="hidden" name="amount" value="@ViewBag.amount" />
							</div>
						</div>
						<br />
						<fieldset class="input-group">
							<div class="form-check">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
									Eat here
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
									Take Away
								</label>
							</div>
						</fieldset>
						<br />

						@*<div class="input-group">
							<div class="form-check">
								<label class="form-check-label">
									<input type="checkbox" class="form-check-input">
									All rights reserved to the owner
								</label>
							</div>
						</div>*@
						<br />

						<br />
						
						<button type="submit" class="btn btn-default"><i class="fa fa-paypal"></i> Submit</button>
					</form>
				</div>
			</div>
		</form>
	</div>
}


<style>
	:required {
		background: url(https://cdn0.iconfinder.com/data/icons/fugue/icon/asterisk-small.png) no-repeat;
		background-position: right top;
	}
</style>