@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@*@ViewBag.Message*@</h3>

<div class="row">
    <div class="col-md-4">
        <address>
            Kista galleria<br />
            Danmarksgatan 68<br />
            <abbr title="Phone">P:</abbr>
            +4670000000
        </address>
    </div>
    @*    <div class="col-md-8">
                <div id="map-canvas"></div>
            </div>
        </div><br />*@

    <header>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script>


            var myCenter = new google.maps.LatLng(59.402986, 17.944129);
            var marker;

            //Create a function to initialize the map:

            function initialize()
                // create an object (mapProp) to define the properties for the map:
                //The center property specifies where to center the map. Create a LatLng object to center the map on a specific point. Pass the coordinates in the order: latitude, longitude.
                // The zoom property specifies the zoom level for the map. zoom: 0 shows a map of the Earth fully zoomed out. Higher zoom levels zoom in at a higher resolution.
            {
                var mapProp = {
                    center: myCenter,
                    zoom: 5,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                var marker = new google.maps.Marker({
                    position: myCenter,
                    animation: google.maps.Animation.BOUNCE
                });

                marker.setMap(map);
            }

            //Create a div element to hold the map. Use CSS to size the element: after header

            //Add a DOM listener that will execute the initialize() function on window load (when the page is loaded):
            google.maps.event.addDomListener(window, 'load', initialize);

        </script>
    </header>

    <div>
        <div id="googleMap" style="width: 500px; height: 380px;"></div>
    </div>







