@{
    ViewBag.Title = "Home";
}

<h3>@ViewBag.Message</h3>
<div class="row">
    <div class="col-md-8">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width:600px;height:400px" data-interval="3000">
            <!-- Indicators   //The indicators are the small radio buttons underneath the caption which are filled in when they’re active. The indicators are declared using an ordered list-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>

            </ol>
            <!-- Wrapper for slides //contains the slider images and the captions-->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Images/food_image_slide1.jpg" alt="..." style="width:100%;height:100%">
                    <div class="carousel-caption">
                        <h3>Caption Text</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/food_image_slide2.jpg" alt="..." style="width:100%;height:100%">
                    <div class="carousel-caption">
                        <h3>Caption Text</h3>
                    </div>
                </div>
            </div>
            <!-- Controls left and right arrows at the ends of the slider images-->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <h2>MAKE A RESERVATION!</h2>
        <p>I'm a Paragraph. Click here to add your own text and edit me. ​It’s easy. Just click “Edit Text” or double click me and you can start adding your own content...</p>
        <p>Click here to make a reservation online or <b>call us</b></p>
        <p><b>+4670000000</b></p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Home")">Make a reservation &raquo;</a></p>
    </div>
</div>
<div class="row">
  
    <div class="col-md-6">
        <h2>Welcome</h2>
        <p>I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” I'm a Paragraph...</p>
        <p>I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content...</p>
    </div>
    <div class="col-md-6">
        <h2>Lunch Special</h2>
        <p>We source the finest beers and wines and match them with your steak.</p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">READ MORE</a></p>
    </div>

</div>

<script>
    $('.carousel').carousel({
        interval: 3000
    })
</script>