@{
    ViewBag.Title = "Home";
}

<div class="col-md-4">
    <h2>MAKE A RESERVATION!</h2>
    <p>I'm a Paragraph. Click here to add your own text and edit me. ​It’s easy. Just click “Edit Text” or double click me and you can start adding your own content...</p>
    <p>Click here to make a reservation online or <b>call us</b></p>
    <p><b>+4670000000</b></p>
    <p><a class="btn btn-default" href="@Url.Action("Reservations", "Home")">Make a reservation &raquo;</a></p>
</div>


<div class="row">
   

    <div class="col-md-6">
        <h2>Welcome</h2>
        <p>I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” I'm a Paragraph...</p>
        <p>I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content...</p>
    </div>
    <div class="col-md-6">
        <h2>Lunch Special</h2>
        <p>We source the finest beers and wines and match them with your steak.</p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">READ MORE</a></p>
    </div>

</div>