<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dhakafood.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dhakafood.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dhakafood</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dhakafood</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RestaurantContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dhakafood.database.windows.net,1433;Initial Catalog=RestaurantContext;User ID=dfuser@dhakafood.database.windows.net;Password=Dbuser12@" Name="Data Source=tcp:dhakafood.database.windows.net,1433;Initial Catalog=RestaurantContext;User Id=dfuser@dhakafood.database.windows.net;Password=Dbuser12@" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:dhakafood.database.windows.net,1433;Initial Catalog=RestaurantContext;Persist Security Info=False;User ID=dhakafood;Password=Dbuser12@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RestaurantContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:dhakafood.database.windows.net,1433;Initial Catalog=RestaurantContext;Persist Security Info=False;User ID=dhakafood;Password=Dbuser12@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RestaurantContext-Web.config Connection String">
      <ParameterValue>data source=tcp:dhakafood.database.windows.net,1433;initial catalog=RestaurantContext;user id=dfuser@dhakafood.database.windows.net;password=Dbuser12@;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>