
<div class="container container-xs-height">
    <div class="row" id="my-footer-row">
        <div class="col-md-4 panel">
            <div class="well" style="background-color: #87ceeb">
                <h2>WHERE ARE WE?</h2><br />
				
				<a id="navLocation" class="btn btn-group-justified" href="@Url.Action("Contact", "Home")" role="button">Check our location</a>

	            @*Add text here<br />
                more text, more*@
            </div>
        </div>
        <div class="col-md-4 panel">
            <div class="well" style="background-color: #87ceeb">
                <p>
                    <h2>OPENING HOURS</h2><br>
                    We’re open everyday<br>
                    <h3>12:00pm-1:00am</h3>
                </p>
            </div>
        </div>
        <div class="col-md-4 panel">
            <div class="well" style="background-color: #87ceeb">
                <h2>CHEF AT HOME</h2>
                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>
            </div>
        </div>
    </div>
</div>

<p>&copy; @DateTime.Now.Year - IndianColor Restaurant Web Application</p>




